@import '../../../../scss/abstracts/variables';

.row {
  &:nth-child(4n) {
    .row__cell {
      border-bottom: 1px solid $grey-light-9;
    }
  }
  &__cell {
    border-left: 1px solid $grey-light-9;
    position: relative;
    &:last-child {
      border-right: 1px solid $grey-light-9;
    }
  }
}

.active {
  background-color: $primary-light-8;
}
