@import '../../../../scss/abstracts/mixins';
@import '../../../../scss/abstracts/variables';

.form__input {
  &-label {
    display: block;
    font-weight: bold;
    margin-bottom: 0.5rem;
  }
  &-input {
    font-size: 1.6rem;
    border: 1px solid $light-grey-1;
    padding-top: 2rem;
    padding-bottom: 2rem;
    padding-left: 20px;
    border-radius: 0.5rem;
    width: calc(100% - 20px);
    &::placeholder {
      color: $light-grey-1;
    }
    @include respond(tab-portrait) {
      width: calc(100% - 10px);
      padding-left: 10px;
    }
  }
}
