@import '../../../scss/abstracts/variables';
@import '../../../scss/abstracts/mixins';

.form {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
  gap: 3.2rem;
  background-color: $primary-light-3;
  padding: 3.2rem 2.4rem;
  border-radius: 0.4rem;
  border: 1px solid $primary-light-2;
  margin-bottom: 3.2rem;
  @include respond(mobile) {
    flex-flow: column nowrap;
    input {
      width: calc(100% - 2rem);
    }
  }
  &__input-container {
    width: 100%;
    position: relative;
  }
  &__input {
    border: 1px solid $grey-light-1;
    border-radius: 0.8rem;
    width: 100%;
    background-color: $white;
    padding: 2rem;
    padding-right: 0;
    font-size: 1.6rem;
    color: $black-5;
    &--invalid {
      border: 1px solid $red;
      color: $red;
      &::placeholder {
        color: $red;
      }
    }
    ~ .err-message {
      color: $red;
      font-size: 1.1rem;
      margin-top: 1rem;
      position: absolute;
    }
  }
  &__submit-btn {
    width: 59.5rem;
    border: 1px solid $primary;
    border-radius: 0.8rem;
    padding: 2rem 0;
    text-align: center;
    font-size: 1.6rem;
    cursor: pointer;
    @include respond(mobile) {
      width: 100%;
    }
  }
}
