@import '../../../scss/abstracts/variables';
@import '../../../scss/abstracts/mixins';

.confirmation {
  background-color: $primary;
  color: $white;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  padding: 2rem;
  @include respond(mobile) {
    flex-flow: column nowrap;
  }
  &__title {
    font-size: 2.5rem;
    width: 60%;
    margin: 0;
    text-align: justify;
    @include respond(mobile) {
      width: 80%;
    }
  }
  &__icon {
    height: 20rem;
    width: 20rem;
  }
}
