@import '../../../scss//abstracts/mixins';
@import '../../../scss//abstracts/variables';

.form__input {
  &-label {
    display: block;
    font-weight: bold;
    margin-bottom: 0.5rem;
  }
  &-input {
    font-size: 1.6rem;
    border: 1px solid $grey-light-1;
    padding-top: 2rem;
    padding-bottom: 2rem;
    padding-left: 20px;
    border-radius: 0.5rem;
    width: calc(100% - 20px);
    &::placeholder {
      color: $grey-light-1;
    }
    @include respond(tab-portrait) {
      width: calc(100% - 10px);
      padding-left: 10px;
    }
  }
  &-options {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    font-size: 1.6rem;
    gap: 1rem;
    padding: 1rem 0;
  }
  &-option-container {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    gap: 0.5rem;
  }
  &-option {
    appearance: auto;
    width: 100%;
  }
}
