@import '../../../scss/abstracts/mixins';
@import '../../../scss/abstracts/variables';

.students {
  grid-column: 2 / 3;
  display: grid;
  grid-template-rows: min-content 1fr;
  transform: translateY(-3.5rem);
  &__title {
    @include dashboard-title();
  }
  &__list {
    padding: 3.2rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: min-content;
    row-gap: 2rem;
    position: relative;
    &::before,
    &::after {
      content: '';
      position: absolute;
      top: 10%;
      bottom: 10%;
      left: calc(50% - 6.4rem);
      width: 1px;
      background-color: $grey-light-1;
    }
    &::before {
      @include respondMax(75) {
        left: calc(33.333% - 3rem);
      }
      @include respond(mobile) {
        display: none;
      }
    }
    &::after {
      display: none;
      @include respondMax(75) {
        display: block;
        left: calc(66.666% - 3rem);
      }
      @include respond(mobile) {
        display: none;
      }
    }
    @include respondMax(75) {
      padding: 2.4rem 0;
      grid-template-columns: repeat(3, 1fr);
    }
    @include respond(mobile) {
      display: flex;
      flex-flow: column nowrap;
      padding-left: 1.6rem;
    }
  }
}
