@import '../../../scss/abstracts/variables';
@import '../../../scss/abstracts/mixins';

.form {
  &__title {
    font-size: 2.25rem;
    text-transform: uppercase;
    font-weight: 700;
    color: $primary;
    letter-spacing: 0.1rem;
    line-height: 1.3;
    display: inline-block;
  }
  &__submit-btn {
    width: 50%;
    padding: 1.8rem 1.6rem;
    margin-top: 3.2rem;
    border: 1px solid #bb4853;
    cursor: pointer;
    @include respond(mobile) {
      width: calc(100% - 3.4rem);
    }
  }
}
