@import '../../../scss/abstracts/variables';

.messages {
  background-color: $primary-light-4;
  border-radius: 0.25rem;
  padding: 2.4rem;
  &__title {
    color: $primary;
    font-size: 1.8rem;
    font-weight: 600;
    margin: 0;
    margin-bottom: 0.5rem;
  }
  &__description {
    color: $grey;
    font-weight: 400;
    font-size: 1.4rem;
    margin: 0;
  }
}
