@import url('https://fonts.googleapis.com/css2?family=Charm:wght@400;700&family=Laila:wght@300&family=Poppins&display=swap');
a {
  &:link,
  &:visited {
    text-decoration: none;
    color: inherit;
  }
}

button,
input,
optgroup,
select,
textarea {
  all: unset;
}
